.mercury{
    background-color: aqua
}
.venus{
    background-color: azure
}
.earth{
    background-color: blueviolet
}
.mars{
    background-color: chartreuse
}
.jupiter{
    background-color: coral
}
.saturn{
    background-color: darkgray
}
.uranus{
    background-color: darkmagenta
}
.neptune{
    background-color: dimgrey
}